body {
  background: linear-gradient(to top, #066bff, #07f, #08f, #3b86f7, #0bf);
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

img {
  width: 30%;
}

.banner-title {
  background: #0bf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;

  .wrapper-left {
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-right {
    flex: 1;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
